.ing{
    position: absolute;
    bottom: 50px;
    margin: 15px;
    text-align: center;
    .input{
        height: 45px;
        font-size: 16px;
        font-style: italic;
        min-width: 25rem;
    }
    .btn{
        height: 45px;
        width: 45px;
    }
}